In [5]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [6]:
prediction_model = tf.keras.models.load_model('column_model')

2023-03-14 09:13:18.560534: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2023-03-14 09:13:18.563975: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

In [99]:
tourney = pd.read_csv('Tourney.csv')

In [100]:
tourney

,Unnamed: 0,Year,Team,Seed,Offensive Rebound Percentage,Steals and Blocks Percentage,Turnover Percentage,Field Goals Percentage,Three Point Percentage,Free Throw Percentage,Offensive Rating,Defensive Rating,Net Rating,Pace,Win Percentage,Team Momentum,Historical Momentum,Win Percentage Under 5
0,0,2003,1101,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,0,0,NaN
1,1,2003,1102,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,0,0,NaN
2,2,2003,1103,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,0,0,NaN
3,3,2003,1104,10,0.453125,0.097561,0.097561,0.423077,0.416667,0.8125,0.849315,81.707317,-80.858002,0.00679,0.0,-62,0,0.0
4,4,2003,1105,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7535,7535,2023,1473,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
7536,7536,2023,1474,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
7537,7537,2023,1475,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
7538,7538,2023,1476,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
7539,7539,2023,1477,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN

In [101]:
regularseason = pd.read_csv('RegularSeason.csv')

In [102]:
regularseason

,Unnamed: 0,Year,Team,Seed,Offensive Rebound Percentage,Steals and Blocks Percentage,Turnover Percentage,Field Goals Percentage,Three Point Percentage,Free Throw Percentage,Offensive Rating,Defensive Rating,Net Rating,Pace,Win Percentage,Team Momentum,Historical Momentum,Win Percentage Under 5
0,0,2003,1101,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0,0,NaN
1,1,2003,1102,18,0.413793,0.116667,0.172043,0.481149,0.375643,0.651357,0.884658,85.806452,-84.921794,0.002364,0.428571,47,0,0.003460
2,2,2003,1103,18,0.465738,0.111782,0.147173,0.486074,0.338710,0.736390,0.903952,91.066034,-90.162081,0.003070,0.481481,155,0,0.069252
3,3,2003,1104,10,0.527903,0.131555,0.168174,0.420362,0.320144,0.709898,0.820296,82.278481,-81.458185,0.003085,0.607143,600,0,0.000000
4,4,2003,1105,18,0.480565,0.126875,0.207887,0.395755,0.364815,0.705986,0.788340,85.426489,-84.638150,0.003088,0.269231,-754,0,0.009070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7535,7535,2023,1473,18,0.459733,0.106132,0.147013,0.423402,0.362098,0.731343,0.837676,86.713836,-85.876160,0.002602,0.275862,-629,0,0.015625
7536,7536,2023,1474,18,0.513238,0.097503,0.141498,0.435520,0.347882,0.722397,0.848859,89.813714,-88.964855,0.002971,0.500000,109,0,0.081633
7537,7537,2023,1475,18,0.528224,0.099923,0.139275,0.426884,0.365918,0.681282,0.830438,85.879630,-85.049192,0.002944,0.448276,-109,0,0.024931
7538,7538,2023,1476,18,0.447640,0.117836,0.153908,0.436745,0.348228,0.758893,0.860738,84.649299,-83.788561,0.002562,0.433333,-144,0,0.051653
7539,7539,2023,1477,18,0.478807,0.100671,0.148397,0.451488,0.319226,0.699805,0.872636,88.553318,-87.680682,0.002880,0.375000,-533,0,0.067215

In [33]:
seed2023 = {"Seed" : [1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,6,7,7,7,7,8,8,8,8,9,9,9,9,10,10,10,10,11,11,11,11,11,11,12,12,12,12,13,13,13,13,14,14,14,14,15,15,15,15,16,16,16,16,16,16], "Team" : ["PURDUE", "KANSAS", "ALABAMA", "HOUSTON", "MARQUETTE", "ARIZONA", "TEXAS", "GONZAGA", "KANSAS ST", "UCONN", "UCLA", "BAYLOR", "TENNESSEE", "TEXAS A&M", "XAVIER", "DUKE", " VIRGINIA", "MIAMI", "INDIANA", "ST MARY'S CA", "SAN DIEGO ST", "TCU", "IOWA ST", "MISSOURI", "NORTHWESTERN", "CREIGHTON", "MICHIGAN ST", "KENTUCKY", "MEMPHIS", "AUBURN", "MARYLAND", "ARKANSAS", "WEST VIRGINIA", "PENN ST", "FAU", "IOWA", "NC STATE", "ILLINOIS", "PROVIDENCE", "BOISE ST", "USC", "MISS ST", "UTAH ST", "PITTSBURGH", "NEVADA", "RUTGERS", "ORAL ROBERTS", "VCU", "DRAKE", "CHARLESTON", "YALE", "KENT ST", "IONA", "LOUISIANA", "KENNESAW ST", "GRAND CANYON", "UCSB", "FURMAN", "VERMONT", "UNC Asheville", "MONTANA ST", "COLGATE", "SE MISSOURI ST", "TX A&M Commerce", "FDU", "TEXAS ST", "HOWARD", "N KENTUCKY"]}

In [34]:
seed2023 = pd.DataFrame(seed2023)

In [35]:
seed2023

    Seed             Team
0      1           PURDUE
1      1           KANSAS
2      1          ALABAMA
3      1          HOUSTON
4      2        MARQUETTE
..   ...              ...
63    16  TX A&M Commerce
64    16              FDU
65    16         TEXAS ST
66    16           HOWARD
67    16       N KENTUCKY

[68 rows x 2 columns]

In [36]:
teams = pd.read_csv('data/MTeams.csv')

In [37]:
teams["TeamName"] = teams["TeamName"].str.lower()
teams

     TeamID          TeamName  FirstD1Season  LastD1Season
0      1101       abilene chr           2014          2023
1      1102         air force           1985          2023
2      1103             akron           1985          2023
3      1104           alabama           1985          2023
4      1105       alabama a&m           2000          2023
..      ...               ...            ...           ...
372    1473        lindenwood           2023          2023
373    1474         queens nc           2023          2023
374    1475  southern indiana           2023          2023
375    1476         stonehill           2023          2023
376    1477   tx a&m commerce           2023          2023

[377 rows x 4 columns]

In [38]:
seed2023['Team'] = seed2023['Team'].str.lower()
seed2023

    Seed             Team
0      1           purdue
1      1           kansas
2      1          alabama
3      1          houston
4      2        marquette
..   ...              ...
63    16  tx a&m commerce
64    16              fdu
65    16         texas st
66    16           howard
67    16       n kentucky

[68 rows x 2 columns]

In [73]:
for i in range(len(seed2023)):
    try:
        seed2023['Team'][i] = teams[teams['TeamName'] == seed2023['Team'][i]]['TeamID'].values[0]
    except:
        print(seed2023['Team'][i], i)

1345 0
1242 1
1104 2
1222 3
1266 4
1112 5
1400 6
1211 7
1243 8
1163 9
1417 10
1124 11
1397 12
1401 13
1462 14
1181 15
1438 16
1274 17
1231 18
1388 19
1361 20
1395 21
1235 22
1281 23
1321 24
1166 25
1277 26
1246 27
1272 28
1120 29
1268 30
1116 31
1452 32
1336 33
1194 34
1234 35
1301 36
1228 37
1344 38
1129 39
1425 40
1280 41
1429 42
1338 43
1305 44
1353 45
1331 46
1433 47
1179 48
1149 49
1463 50
1245 51
1233 52
1418 53
1213 55
1364 56
1202 57
1436 58
1421 59
1286 60
1159 61
1369 62
1477 63
1192 64
1402 65
1224 66
1297 67

/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2730120771.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seed2023['Team'][i] = teams[teams['TeamName'] == seed2023['Team'][i]]['TeamID'].values[0]

In [74]:
seed2023.to_csv('seed2023.csv')

In [76]:
seed2023['Team'][0]

1345

In [95]:
tourney[tourney['Team'] == 1345]

,Unnamed: 0,Year,Team,Seed,Offensive Rebound Percentage,Steals and Blocks Percentage,Turnover Percentage,Field Goals Percentage,Three Point Percentage,Free Throw Percentage,Offensive Rating,Defensive Rating,Net Rating,Pace,Win Percentage,Team Momentum,Historical Momentum,Win Percentage Under 5
244,244,2003,1345,9,0.475524,0.107955,0.181818,0.438596,0.437500,0.767442,0.859649,75.568182,-74.708533,0.015905,0.500000,13,0,0.00
621,621,2004,1345,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0,13,NaN
998,998,2005,1345,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0,13,NaN
1375,1375,2006,1345,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0,13,NaN
1752,1752,2007,1345,9,0.515385,0.172185,0.132450,0.426230,0.294118,0.595238,0.798851,90.728477,-89.929626,0.016426,0.500000,5,13,0.00
2129,2129,2008,1345,6,0.529801,0.129730,0.124324,0.440299,0.414634,0.804878,0.875000,88.648649,-87.773649,0.018130,0.500000,12,18,0.00
2506,2506,2009,1345,5,0.470852,0.127490,0.119522,0.384615,0.296296,0.732143,0.775591,80.478088,-79.702497,0.023525,0.666667,77,30,0.25
2883,2883,2010,1345,4,0.429752,0.174905,0.125475,0.414773,0.306122,0.673913,0.810127,74.144487,-73.334360,0.022323,0.666667,78,107,0.25
3260,3260,2011,1345,3,0.559441,0.121795,0.147436,0.438017,0.325000,0.785714,0.870370,87.820513,-86.950142,0.015043,0.500000,-11,185,0.00
3637,3637,2012,1345,10,0.450331,0.075581,0.116279,0.429907,0.382353,0.729730,0.840764,76.744186,-75.903422,0.014643,0.500000,12,174,0.25
4014,4014,2013,1345,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0,186,NaN
4391,4391,2014,1345,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0,186,NaN
4768,4768,2015,1345,9,0.573034,0.069767,0.139535,0.361111,0.153846,0.600000,0.714286,76.744186,-76.029900,0.008477,0.000000,-65,186,0.00
5145,5145,2016,1345,5,0.536082,0.078947,0.157895,0.419355,0.321429,0.785714,0.838384,74.561404,-73.723020,0.008908,0.000000,-83,121,0.00
5522,5522,2017,1345,4,0.532995,0.080460,0.137931,0.477778,0.369863,0.658537,0.911290,93.486590,-92.575300,0.021858,0.666667,94,38,0.25
5899,5899,2018,1345,2,0.520000,0.096916,0.158590,0.443787,0.421875,0.745098,0.870445,87.665198,-86.794753,0.021924,0.666667,85,132,0.25
6276,6276,2019,1345,3,0.531353,0.072022,0.110803,0.488889,0.439024,0.623377,0.904494,78.393352,-77.488857,0.032267,0.750000,172,217,0.00
6653,6653,2021,1345,4,0.569231,0.096386,0.132530,0.362319,0.300000,0.714286,0.750000,93.975904,-93.225904,0.008536,0.000000,-69,389,0.00
7030,7030,2022,1345,3,0.605263,0.096386,0.148594,0.445946,0.300000,0.776596,0.857692,77.911647,-77.053954,0.023362,0.666667,95,320,0.00
7407,7407,2023,1345,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,415,NaN

In [82]:
tourneydetailedresults = pd.read_csv("data/MNCAATourneyDetailedResults.csv")

In [83]:
tourneydetailedresults

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,2022,146,1242,76,1274,50,N,0,29,58,...,21,9,13,5,21,7,14,7,4,20
1244,2022,146,1314,69,1389,49,N,0,25,61,...,16,9,10,4,25,11,7,4,7,18
1245,2022,152,1242,81,1437,65,N,0,29,54,...,31,8,10,12,17,12,9,3,0,11
1246,2022,152,1314,81,1181,77,N,0,27,64,...,22,12,20,13,25,12,4,7,4,18
1247,2022,154,1242,72,1314,69,N,0,29,66,...,23,18,22,20,29,9,13,2,6,13

In [89]:
tourneydetailedresults[tourneydetailedresults['WTeamID'] == 1345 & tourneydetailedresults['Season'] == 2023]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [85]:
regularseasondetailed = pd.read_csv("data/MRegularSeasonDetailedResults.csv")

In [91]:
regularseasondetailed[regularseasondetailed['WTeamID'] == 1345]

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
84,2003,18,1345,73,1275,46,H,0,26,51,...,20,8,14,10,13,9,16,2,1,18
422,2003,26,1345,86,1257,84,N,0,27,61,...,19,28,38,18,25,16,11,5,7,29
644,2003,32,1345,85,1292,56,H,0,27,57,...,17,7,16,12,26,13,21,4,2,29
728,2003,33,1345,95,1360,65,H,0,34,65,...,20,11,18,21,24,14,23,8,3,18
1027,2003,44,1345,78,1125,61,H,0,25,48,...,21,11,16,4,16,15,18,8,0,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105830,2023,93,1345,80,1336,60,H,0,28,55,...,29,3,4,2,15,16,7,3,1,14
106238,2023,101,1345,87,1234,73,H,0,33,60,...,18,6,7,5,15,22,7,11,3,13
106784,2023,111,1345,82,1326,55,H,0,27,54,...,19,6,11,5,12,11,10,9,6,21
107264,2023,122,1345,63,1458,61,A,0,24,48,...,24,5,5,6,15,8,6,5,0,17
107426,2023,125,1345,76,1228,71,H,0,25,53,...,22,16,24,10,18,13,14,8,7,23

In [93]:
def team_momentum(team, year, dataset):
    team_stats = dataset.loc[(dataset["WTeamID"] == team) & (dataset["Season"] == year)]
    team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
    wins = team_stats.loc[(team_stats["WTeamID"] == team)]
    losses = team_stats.loc[(team_stats["LTeamID"] == team)]
    return wins["WScore"].sum() - losses["LScore"].sum()

In [98]:
for i in range(2003, 2020):
    print(team_momentum(1345, i, regularseasondetailed))

837
459
-740
-469
919
1091
1192
1711
1467
852
32
24
760
1595
1524
1969
1204

/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])
/var/folders/qw/5rcwl4d96zvcq7zxv7fzt3m80000gn/T/ipykernel_73345/2387990510.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats = team_stats.append(dataset.loc[(dataset["LTeamID"] == team) & (dataset["Season"] == year)])

In [116]:
regularseason.query('Year == 2023 & Team == 1345')

,Unnamed: 0,Year,Team,Seed,Offensive Rebound Percentage,Steals and Blocks Percentage,Turnover Percentage,Field Goals Percentage,Three Point Percentage,Free Throw Percentage,Offensive Rating,Defensive Rating,Net Rating,Pace,Win Percentage,Team Momentum,Historical Momentum,Win Percentage Under 5
7407,7407,2023,1345,18,0.599257,0.116509,0.141874,0.460956,0.327217,0.746835,0.885246,83.27601,-82.390764,0.002848,0.83871,1626,17290,0.25

In [ ]:
def predict_brackets(team1, team2, year, model, season):
    team1_stats = season.query('Year == @year & Team == @team1')
    team2_stats = season.query('Year == @year & Team == @team2')
    team1_stats = team1_stats.drop(columns=['Year', 'Team', "Unnamed: 0"])
    team2_stats = team2_stats.drop(columns=['Year', 'Team', "Unnamed: 0"])
    difference = team1_stats.subtract(team2_stats, axis="columns")
    prediction = model.predict(difference)
    prediction_conf = model.predict_proba(difference)
    return prediction, prediction_conf

In [ ]:
south = []
midwest= []
east = []
west = []